[data-theme='light'] .colorModeToggle button {
  background-color: #e5e5e5;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-14 0 50 24' width='10' height='16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon--Moon' aria-hidden='true'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
}
[data-theme='dark'] .colorModeToggle button {
  background-color: #3d3d3d;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-13 0 50 24' width='16' height='16' fill='none' stroke='White' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon--Sun' aria-hidden='true'%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
}

.colorModeToggle button:hover svg {
  color:white;
}

.colorModeToggle button:hover {
  background-color: var(--ifm-color-primary) !important;
}
.colorModeToggle button {
  transition: none !important;
  width: 120% !important;
  height: 120% !important;
  margin-top: -8px;
}
