[data-theme='light'] .odyseeButtonRound {
  padding: 10px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 50%;
  background: #e5e5e5;
  font-weight: 500;
  color: black;
  font-size: 17px;
}
[data-theme='light'] .odyseeButtonRound:hover {
  background: var(--ifm-color-primary);
  color: white;
}

[data-theme='light'] .odyseeButtonRoundLink:hover {
  text-decoration: none;
  color: white;
}

[data-theme='dark'] .odyseeButtonRound {
  padding: 10px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 50%;
  background: #252525;
  font-weight: 500;
  color: white;
  font-size: 17px;
}
[data-theme='dark'] .odyseeButtonRound:hover {
  background: var(--ifm-color-primary);
}

[data-theme='dark'] .odyseeButtonRoundLink:hover {
  text-decoration: none;
}
