[data-theme='light'] .odyseeButton {
  padding: 7px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 8px;
  background: var(--ifm-color-primary);
  font-weight: 600;
  color: white;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
[data-theme='light'] .odyseeButton:hover {
  border-radius: 8px;
  background: var(--ifm-color-primary);
  color: white;
}

[data-theme='light'] .odyseeButtonLink:hover {
  text-decoration: none;
  color: white;
}

[data-theme='dark'] .odyseeButton {
  padding: 10px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 8px;
  background: var(--ifm-color-primary);
  font-weight: 600;
  color: white;
  font-size: 15px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
[data-theme='dark'] .odyseeButton:hover {
  border-radius: 8px;
  background: var(--ifm-color-primary);
}

[data-theme='dark'] .odyseeButtonLink:hover {
  text-decoration: none;
}
