/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Search bar */
.navbar__search-input {
  height: 2.3rem !important;
  border-radius: 7px !important;
  border: 1px solid #fff0;
  outline: 1px solid #fff0;
}
.navbar__search-input:focus-visible {
  border: 1px solid var(--ifm-color-primary);
  outline: 1px solid var(--ifm-color-primary);
  height: 2.3rem !important;
}
[data-theme='light'] .navbar__search-input {
  background: #e5e5e5 url('data:image/svg+xml;utf8,<svg fill="%231e003c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>') no-repeat 0.95rem center / 1rem 1.2rem;

}
[data-theme='light'] .navbar__search-input {
  color: black !important;
}
[data-theme='light'] .navbar__search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--odysee-very-dark-purple);
  opacity: 1;
}
[data-theme='dark'] .navbar__search-input {
  background: #3d3d3d url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>') no-repeat 0.95rem center / 1rem 1.2rem;
}
.navbar__search {
  margin-left: 4px !important;
}

/* Footer */
.footer--dark {
  --ifm-footer-background-color: var(--odysee-very-dark-purple);
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

/* Fonts */
.markdown h1:first-child {
  --ifm-font-family-monospace: GothamRnd-Bold;
  --ifm-font-family-base: GothamRnd-Bold;
}

@font-face {
  font-family: 'GothamRnd-Bold';
  src: url('/src/font/GothamRnd-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GothamRnd-Book';
  src: url('/src/font/GothamRnd-Book.woff2') format('woff2');
}

/* Sidebar */
.menu__link {
  color: #ebeaeb;
}
.menu__link:hover {
  color: var(--ifm-color-primary);
}

[data-theme='light'] .menu__caret::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' transform='scale(-1 -1)' viewBox='0 0 25 25' width='16' height='16' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon--ChevronDown' aria-hidden='true'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}
[data-theme='dark'] .menu__caret::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' transform='scale(-1 -1)' viewBox='0 0 25 25' width='16' height='16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon--ChevronDown' aria-hidden='true'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.menu__link--active {
  color: var(--ifm-color-primary);
}

.navbar-sidebar__items .navbar-sidebar__items--show-secondary,
.theme-doc-sidebar-container,
.navbar-sidebar__item {
  background-color: var(--odysee-very-dark-purple);
}

/* Sidebar leveling style */
theme-doc-sidebar-item-link-level-1,
.theme-doc-sidebar-item-category-level-1 {
  font-weight: 600;
}
.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-category-level-2 {
  font-weight: 500;
}
.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-category-level-3 {
  font-weight: 400;
  font-style: italic;
}

/* Font h1 - h4 */
[data-theme='light'] .markdown h1:first-child {
  color: var(--odysee-very-dark-purple);
  font-family: GothamRnd-Bold;
}
[data-theme='dark'] .markdown h1:first-child {
  color: #ebeaeb;
  font-family: GothamRnd-Bold;
}

[data-theme='light'] .markdown > h2,
[data-theme='light'] .markdown > h3,
[data-theme='light'] .markdown > h4 {
  color: var(--odysee-very-dark-purple);
  font-family: GothamRnd-Bold;
}
[data-theme='dark'] .markdown > h2,
[data-theme='dark'] .markdown > h3,
[data-theme='dark'] .markdown > h4 {
  color: #ebeaeb;
  font-family: GothamRnd-Bold;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-monospace: GothamRnd-Book;
  --ifm-font-family-base: GothamRnd-Book;
  --ifm-color-primary: #de0050;
  --ifm-color-primary-dark: #c80048;
  --ifm-color-primary-darker: #bd0044;
  --ifm-color-primary-darkest: #9b0038;
  --ifm-color-primary-light: #f40058;
  --ifm-color-primary-lighter: #ff005c;
  --ifm-color-primary-lightest: #ff2271;
  --ifm-menu-color-active: #de0050;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --aa-input-border-color-rgb: #de0050;
  --aa-input-border-color-alpha: #de0050;

  --aa-primary-color-rgb: 222, 0, 80 !important;
  --aa-muted-color-rgb: 222, 0, 80 !important;

  /* Odysee Colors */
  --odysee-very-dark-purple: #1e003c;
  --odysee-metallic-violet: #650f7c;
  --odysee-purple-heart: #64449a;
  --odysee-dark-turquoise-rgb: 0, 208, 217;
  --odysee-dark-turquoise: rgb(var(--odysee-dark-turquoise-rgb));
  --odysee-razzmatazz: #ef1970;
  --odysee-maroon-rgb: 184, 55, 105;
  --odysee-maroon: rgb(var(--odysee-maroon-rgb));

  --odysee-crayola-rgb: 247, 125, 53;
  --odysee-crayola: rgb(var(--odysee-crayola-rgb));
  --odysee-jelly-bean: #d4694d;
  --odysee-light-orange-rgb: 255, 221, 162;
  --odysee-light-orange: rgb(var(--odysee-light-orange-rgb));
  --odysee-gold-rgb: 255, 214, 0;
  --odysee-gold: rgb(var(--odysee-gold-rgb));

  --odysee-maroon-20: rgba(var(--odysee-maroon-rgb), 0.2);
  --odysee-crayola-20: rgba(var(--odysee-crayola-rgb), 0.2);
  --odysee-dark-turquoise-20: rgba(var(--odysee-dark-turquoise-rgb), 0.2);
  --odysee-gold-20: rgba(var(--odysee-gold-rgb), 0.2);
  --odysee-light-orange-20: rgba(var(--odysee-light-orange-rgb), 0.2);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-font-family-monospace: GothamRnd-Book;
  --ifm-font-family-base: GothamRnd-Book;
  --ifm-color-primary: #de0050;
  --ifm-color-primary-dark: #c80048;
  --ifm-color-primary-darker: #bd0044;
  --ifm-color-primary-darkest: #9b0038;
  --ifm-color-primary-light: #f40058;
  --ifm-color-primary-lighter: #ff005c;
  --ifm-color-primary-lightest: #ff2271;
  --ifm-menu-color-active: #de0050;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.aa-SubmitIcon {
  color: var(--ifm-color-primary);
}

[data-theme='light'] img[src$='#dark'] {
  display: none;
}
[data-theme='dark'] img[src$='#light'] {
  display: none;
}

[data-theme='light'] img[class$='dark-image'] {
  display: none;
}
[data-theme='dark'] img[class$='light-image'] {
  display: none;
}

[data-theme='light'] video[class$='dark-video'] {
  display: none;
}
[data-theme='dark'] video[class$='light-video'] {
  display: none;
}

.noFit {
  padding: 0px;
  border-radius: 0px;
  filter: drop-shadow(0px 0px 0px #00000000);
}

.container img {
  padding: 10px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 5px #00000010);
}

/* Footer */
.footer--icon {
  height: 1em;
  vertical-align: -0.125em;
}

/* Admonition */

.alert--danger {
  --ifm-alert-background-color: var(--odysee-maroon-20);
  --ifm-alert-background-color-highlight: var(--odysee-maroon-20);
  /*--ifm-alert-foreground-color: var(--ifm-color-danger-contrast-foreground);*/
  --ifm-alert-border-color: var(--odysee-maroon);
}

.alert--warning {
  --ifm-alert-background-color: var(--odysee-crayola-20);
  --ifm-alert-background-color-highlight: var(--odysee-crayola-20);
  /*--ifm-alert-foreground-color: var(--ifm-color-warning-contrast-foreground);*/
  --ifm-alert-border-color: var(--odysee-crayola);
}

.alert--info {
  --ifm-alert-background-color: var(--odysee-dark-turquoise-20);
  --ifm-alert-background-color-highlight: var(--odysee-dark-turquoise-20);
  /*--ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );*/
  --ifm-alert-border-color: var(--odysee-dark-turquoise);
}

.alert--success {
  --ifm-alert-background-color: var(--odysee-gold-20);
  --ifm-alert-background-color-highlight: var(--odysee-gold-20);
  /*--ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );*/
  --ifm-alert-border-color: var(--odysee-gold);
}
.alert--secondary {
  --ifm-alert-background-color: var(--odysee-light-orange-20);
  --ifm-alert-background-color-highlight: var(--odysee-light-orange-20);
  /*--ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );*/
  --ifm-alert-border-color: var(--odysee-light-orange);
}

/* Link decoration */
a {
  text-decoration: none !important;
}

.alert a {
  font-weight: 600;
  color: var(--ifm-color-primary);
}

.menu__link--active {
  background: var(--ifm-color-primary) !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -6px;
  color: white !important;
}


.menu__list-item-collapsible .menu__link--active {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -6px;
  color: var(--ifm-color-primary) !important;
}
.menu__link:hover {
  background: #ffffff10;	
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--ifm-color-primary);
  margin-right: -6px;
}
.menu__link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -6px;
}
